@model IEnumerable<Control_flota.Models.Operaciones.SolicitudServicio>

@{
    ViewData["Title"] = "Solicitudes de Servicio";
}

<h1>Solicitudes de Servicio</h1>

<p>
    <form method="get" asp-action="Index">
        <input type="text" name="cliente" placeholder="Buscar cliente..." />
        <button type="submit" class="btn btn-primary">Buscar</button>
    </form>
</p>
<p>
<a href="@Url.Action("RegistrarCliente", "Clientes")" class="btn btn-success">Registrar Nuevo Cliente</a>
</p>
<p>
    <a href="@Url.Action("RegistrarServicio", "Solicitudes")" class="btn btn-success">Registrar Nueva Solicitud</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>Código</th>
            <th>Cliente</th>
            <th>Origen</th>
            <th>Destino</th>
            <th>Conductor</th>
            <th>Placa</th>
            <th>Orden Generada</th>
            <th>Estado</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var solicitud in Model)
        {
            <tr>
                <td>@solicitud.Codigo</td>
                <td>@(solicitud.Cliente?.Nombre ?? "-")</td>
                <td>@solicitud.Origen</td>
                <td>@solicitud.Destino</td>
                <td>@(solicitud.Conductor != null ? (solicitud.Conductor.Nombres + " " + solicitud.Conductor.Apellidos) : "-")</td>
                <td>@(solicitud.Unidad != null ? solicitud.Unidad.Placa : "-")</td>
                <td>
                    @{
                        var ids = ViewBag.OrdenesEmitidasIds as HashSet<int>;
                        bool tiene = ids != null && ids.Contains(solicitud.Id);
                    }
                    @if(tiene)
                    {
                        <span class="badge bg-success">Emitida</span>
                    }
                    else
                    {
                        <span class="badge bg-secondary">No emitida</span>
                    }
                </td>
                <td>@solicitud.EstadoSolicitud</td>
                <td>
                    <a asp-action="AsignarFlota"
                        asp-route-id="@solicitud.Id"
                            class="btn btn-primary btn-sm">Asignar Flota</a>
                    <a href="@Url.Action("Details", new { id = solicitud.Id })" class="btn btn-info">Ver Detalles</a>

                    <form method="post" asp-action="Eliminar" asp-route-id="@solicitud.Id" style="display:inline;">
                        <button type="submit" class="btn btn-danger" onclick="return confirm('¿Estás seguro de que deseas eliminar esta solicitud?')">Eliminar</button>
                    </form>

                </td>
                
            </tr>
        }
    </tbody>
</table>